@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  
  --color-gray-base-100: #F5F4F5;
  --color-gray-base-200: #B2AFB6;
  --color-gray-base-300: #98959D;
  --color-gray-base-400: #7A767F;
  --color-gray-base-500: #3E3C41;
  --color-gray-base-600: #2E2C30;
  --color-gray-base-700: #232225;
  --color-gray-base-800: #19181B;
  --color-gray-base-900: #050505;

  --color-yellow-light: #DBC170;
  --color-yellow: #B8952E;
  --color-yellow-dark: #846F2E;



  --font-sans: "Catamaran", sans-serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
}